{% extends 'base.html' %}
{% block head %}
<style>
    .line{
        width: 100%;
        height: 2px;
        background-color: black;
    }

    .dark-mode .line{
        background-color: white;
    }

</style>
{% endblock %}
{% block content %}
<div class="feedback-container">
    <h2 style = "margin-bottom: 5px; padding-bottom: 5px;">Submit Your Feedback</h2>
    <div class="line"></div>
    <h5 style = "margin-top: 5px; padding-top: 5px;">{{ name }}</h5>
    <form action="{{ url_for('main.update_feedback', feedback_id = id) }}" method="POST" onsubmit="return validateForm()">
        <label>Feedback:</label>
        <textarea name="feedback" required>{{ feedback }}</textarea>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
