body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.nav-link:hover {
    text-decoration: underline;
}

.dark-mode {
    background-color: #121212;
    color: #f4f4f4;
}

.dark-mode header, .dark-mode footer {
    background-color: #1f1f1f;
}

.carousel-item img {
    height: 300px;
    object-fit: contain;
}

.custom-carousel-btn {
    background-color: rgba(0, 123, 255, 0.7);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.custom-carousel-btn:hover {
    background-color: rgba(0, 123, 255, 1);
}